---
import Carousel from "@/components/carousel.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/root-layout.astro";
import { queryClient } from "src/api";
import { fetchMovieDetails } from "src/api/movies";

export const prerender = false;

const { id: _id } = Astro.params;
if (!_id || !Number.isInteger(Number(_id))) {
  return Astro.redirect("/");
}
const id = parseInt(_id);

const { movie, trailer } = await queryClient.fetchQuery({
  queryKey: ["movie", id],
  queryFn: () => fetchMovieDetails(id),
});
---

<Layout>
  <Hero movie={movie} />

  <h1 class='column my-1'>{movie.title}</h1>
  <p class='column'>{movie.overview}</p>

  <div class='details column'>
    {
      trailer && (
        <iframe
          src={`https://www.youtube.com/embed/${trailer?.key}`}
          title='Youtube Video'
          allowfullscreen
        />
      )
    }
    <dl>
      <dt>Release Date</dt>
      <dd>{movie.release_date}</dd>

      <dt>Runtime</dt>
      <dd>{movie.runtime} minutes</dd>

      <dt>Budget</dt>
      <dd>${Math.round(movie.budget / 1e6)}M</dd>

      <dt>Revenue</dt>
      <dd>${Math.round(movie.revenue / 1e6)}M</dd>

      <dt>Genres</dt>
      <dd>{movie.genres.map((genre) => genre.name).join(", ")}</dd>
    </dl>
  </div>

  {
    movie.recommendations.results.length > 0 && (
      <Carousel
        movies={movie.recommendations.results}
        title='You might also like...'
      />
    )
  }
</Layout>

<style>
  .details {
    display: grid;
    margin: 2rem 0;
    gap: theme(spacing.8);
    @apply mx-auto;

    & > iframe {
      aspect-ratio: 16/9;
      width: 80%;
      @apply mx-auto;
    }

    & > dl {
      display: grid;
      grid-template-columns: max-content 1fr;

      gap: theme(spacing.4);
      column-gap: theme(spacing.16);

      dt {
        text-transform: uppercase;
        font-size: theme(fontSize.sm);
        font-weight: 700;
        opacity: 0.7;
      }
      dd {
        justify-self: center;
      }
    }
  }

  @media (min-width: theme(screens.md)) {
    .details {
      grid-template-columns: 1fr 1fr;

      & > iframe {
        width: 100%;
      }

      & > dl {
        column-gap: theme(spacing.8);

        & > dd {
          justify-self: start;
        }
      }
    }
  }
</style>
